include CHANGELOG.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include DISCOVERY.md
include LICENSE
include README.md
include RELEASING.md
include SECURITY.md
include SPEC.md
recursive-include examples *.json
recursive-include schema *.json
